
// PALETTE
$spacing-small: 0.5rem
$spacing-medium: 1rem
$spacing-large: 2rem

$grey-color: #262626
$beige-color: beige
$lavender-color: #be597e
$mint-color: rgb(139, 206, 178)

*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: #262626

#app
    color: beige
    font-family: Arial, Helvetica, sans-serif
    width: 100%
    height: 100dvh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end

.locations
    width: 100%
    padding: $spacing-large
    display: flex
    gap: $spacing-large
    overflow-x: auto
    scroll-snap-type: x mandatory
    // justify-content: space-around

.locations .location
    background-color: rgb(139, 206, 178)

.backpack .location .location-name
    display: none

.location
    flex: 0 0 20rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    gap: $spacing-large
    text-align: center
    padding: $spacing-medium
    border-radius: 1rem
    scroll-snap-align: center

.inventory
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: $spacing-small

.slot
    background-color: #e25589
    border: 0.2rem solid beige
    border-radius: 9999rem
    color: beige
    padding: $spacing-medium $spacing-large
    width: 5rem
    height: 5rem
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 1rem
    transition: transform 300ms, background-color 300ms
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.4)
    cursor: pointer

    &.empty
        background-color: transparent
        transform: scale(0.8)

    &.selected
        // border-color: lightblue
        transform: scale(1.2)

    &:active
        transform: scale(0.9)
